.even {
    color: red;
    font-weight: 700;
    text-align: center;
}

.odd {
    color: red;
    font-weight: 700;
    text-align: center;
}

p {
    color: green;
    font-weight: 700;
    text-align: center;
}